<style type="text/css">  
        a{line-height:2em;}
	a{text-decoration: none;}
	a:hover{text-decoration: underline;}
	a{color:gray;} 
	a{font-size:12px;}
	a{font-family:'Arial';}	
	th a:hover{text-decoration:none}
	th a:hover{color:#b9f605;}
	.temp{font-size:14px;color:white;}
	p{color:gray;font-size:12px}
	h4{font-size:20px;
	     font-family:'Î¢ÈíÑÅºÚ';
	     color:#686868;
		}
 	h2{
		font-size:12px;
		font-family:'Arial';
		}
	h2{color:#a9a8a8;}
	th.no1{background-color:#F0FFFF}
	li{list-style-type:none;}
</style>