<style type="text/css">
        a{color:gray;}   
        body{font-height:2em;}
        a{text-decoration: none;}  
	a:hover{text-decoration: underline;}
        #one{font-weight:bolder;
             font-size:16px;
             color:#65a7d0;
             font-family:'Î¢ÈíÑÅºÚ'£»
             }
	a{color:gray;}
	a{font-size:12px;}
	a{font-family:'Arial';}	
</style>