 <style type="text/css"> 
	a{color:gray;}  
	a{text-decoration: none;}
	a:hover{text-decoration: underline;}
	a{line-height:2em;color:gray;} 
	a{font-size:12px;}
	a{font-family:'Arial';}	
        .one{color:gray;}
	th a:hover{text-decoration:none}
	th a:hover{color:#b9f605;}
	.two{font-size:14px;}
	.two:hover{text-decoration:none}
	.temp{font-size:14px;color:white;}
	.two{text-decoration:none;}
	.no1{list-style-type:none;}
	.no2{background-color:#F0FFFF}

</style>


